<%- include ("partials/header") %>



<div class="container">
    <h1 style="text-align: center;">Edit Your Photo</h1>

    <div style="width: 30%; margin: 25px auto;">
        <form action="/photos/<%= photo._id %>?_method=put" method="post">
            <div class="mb-2">
              <label for="image-field" class="form-label">Image</label>
              <input type="text" class="form-control" id="image-field" name="photo[image]" value="<%= photo.image %>">
            </div>

            <div class="mb-2">
              <label for="desc-field" class="form-label">Caption</label>
              <textarea class="form-control" id="desc-field" rows="3" name="photo[caption]"><%= photo.caption %></textarea>
            </div>

            <div class="mb-2 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Agree to terms and conditons</label>
            </div>
            <button type="submit" class="btn btn-dark btn-block">Submit</button>
          </form>
          <a href="/photos">Go back</a>
    </div>
</div>


<%- include ("partials/footer") %>

